<div class=" container valign">
    <div class="row">
        <h3 class="left-align">CERTIFICATIONS</h3>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#dev">Code</a></li>
                <li class="tab col s3"><a href="#web">Environnement</a></li>
                <li class="tab col s3"><a href="#systeme">Systeme</a></li>
                <li class="tab col s3"><a href="#parcours">Parcours</a></li>
            </ul>
        </div>
        <div id="dev" class="">
            <ul>
                {% for code in codes %}
                    <li class="col s6 m6 l4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ code.src }}" alt="{{ code.alt }}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-2 truncate">
                                    {{ code.title }}
                                </span>
                                <i class="activator material-icons right">more_vert</i>
                                <p class="grey-text text-darken-2">
                                    <a class="card-link" href="{{ code.file }}" target="_blank" >
                                        <i class="material-icons eyeIcon">remove_red_eye</i>
                                    </a>
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-2">Acquis<i class="material-icons right">close</i></span>
                                <ul class="collection grey-text text-darken-2">
                                    {% for detail in code.details %}
                                        <li class="collection-item">{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" id="programmeur" class="btn-floating btn-large waves-effect waves-light plus"><i class="material-icons">add</i></a>
        </div>
        <div id="web" class="col s12">
            <ul>
                {% for environnement in environnements %}
                    <li class="col s6 m6 l4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ environnement.src }}" alt="{{ environnement.alt }}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-2">
                                    {{ environnement.title }}
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <p class="grey-text text-darken-2">
                                    <a class="card-link" href="{{ environnement.file }}" target="_blank" >
                                        <i class="material-icons eyeIcon">remove_red_eye</i>
                                    </a>
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-2">Acquis<i class="material-icons right">close</i></span>
                                <ul class="collection grey-text text-darken-2">
                                    {% for detail in environnement.details %}
                                        <li class="collection-item">{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" id="culture-web" class="btn-floating btn-large waves-effect waves-light plus"><i class="material-icons">add</i></a>
        </div>
        <div id="systeme" class="col s12">
            <ul>
                {% for systeme in systemes %}
                    <li class="col s6 m6 l4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ systeme.src }}" alt="{{ systeme.alt }}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-2">
                                    {{ systeme.title }}
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <p class="grey-text text-darken-2">
                                    <a class="card-link" href="{{ systeme.file }}" target="_blank" >
                                        <i class="material-icons eyeIcon">remove_red_eye</i>
                                    </a>
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-2">Acquis<i class="material-icons right">close</i></span>
                                <ul class="collection grey-text text-darken-2">
                                    {% for detail in systeme.details %}
                                        <li class="collection-item">{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" id="systemeBtn" class="btn-floating btn-large waves-effect waves-light plus"><i class="material-icons">add</i></a>
        </div>
        <div id="parcours" class="col s12">
            <ul>
                {% for parcour in parcours %}
                    <li class="col s6 m6 l4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ parcour.src }}" alt="{{ parcour.alt }}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-2">
                                    {{ parcour.title }}
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <p class="grey-text text-darken-2">
                                    <a class="card-link" href="{{ parcour.file }}" target="_blank" >
                                        <i class="material-icons eyeIcon">remove_red_eye</i>
                                    </a>
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-2">Acquis<i class="material-icons right">close</i></span>
                                <ul class="collection grey-text text-darken-2">
                                    {% for detail in parcour.details %}
                                        <li class="collection-item">{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" id="cursus" class="btn-floating btn-large waves-effect waves-light plus"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>