<div class="container valign">
    <div class="row">
        <h3 class="left-align">PORTFOLIO</h3>
        <p class="flow-text white-text">{{ introProjets }}</p>
        <ul id="creation" class="col s12 m12 l10 owl-carousel">
            {% for portfolio in portfolios %}
                <li class="item card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ portfolio.src }}" alt="{{ portfolio.alt }}" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-2">{{ portfolio.title | truncate(15) }}<i class="material-icons right">more_vert</i></span>
                        <p class="grey-text text-darken-2 left-align"><a href="{{ portfolio.link }}" target="_blank" ><i class="material-icons eyeIcon">remove_red_eye</i></a><a href="#"><i class="material-icons">code</i></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-2">{{ portfolio.title }}<i class="material-icons right">close</i></span>
                        <p class="grey-text text-darken-2 left-align">{{ portfolio.content }}</p>
                        <ul class="collection grey-text text-darken-2">
                            {% for detail in portfolio.details %}
                                <li class="collection-item">{{ detail }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>