<div class="container valign">
    <div itemscope itemtype="http://schema.org/LocalBusiness" class="row">
        <h3 class="left-align">Qui suis-je ?</h3>
        <div class="col m12 l4">
            <p class="flow-text grey-text text-darken-2">{{ intro }}</p>
            <a href="../files/cv.zip" class="waves-effect waves-light btn-large white-text"><i class="material-icons left">archive</i> CV</a>
        </div>
        <div class="col m6 l4 center-align">
            <img itemprop="image" id="greg" class="circle responsive-img z-depth-3" src="img/photo_gregory.png" alt="Gregory Peigne" title="Gregory Peigne" />
        </div>
        <div class="col m6 l4">
            <h5 itemprop="name" class="flow-text grey-text text-darken-2">{{ title }}</h5>
            <h5 class="flow-text grey-text text-darken-2">{{ age }}</h5>
            <h5 id="_telephone3" itemprop="telephone" class="flow-text grey-text text-darken-2">{{ phone }}</h5>
            <h5 id="_email4" itemprop="email" class="flow-text grey-text text-darken-2">{{ mail }}</h5>
            <h5 id="_address5" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="flow-text grey-text text-darken-2"><span itemprop="streetAddress">{{ street }}</span> <span itemprop="postalCode">{{ zipCode }}</span> <span itemprop="addressLocality">{{ city }}</span> <span itemprop="addressCountry">{{ country }}</span></h5>
            <div class="reseaux-sociaux row">
                <ul>
                    <li class="col s3"><a class="btn-floating waves-effect waves-light white linkedin" href="https://fr.linkedin.com/in/gregory-peigné-6636b4b7" target="_blank"><span class="icon-linkedin2"></span></a></li>
                    <li class="col s3"><a class="btn-floating waves-effect waves-light white facebook" href="https://www.facebook.com/profile.php?id=100009571562244" target="_blank"><span class="icon-facebook"></span></a></li>
                    <li class="col s3"><a class="btn-floating waves-effect waves-light white twitter" href="https://twitter.com/GregoryPeigne" target="_blank"><span class="icon-twitter"></span></a></li>
                    <li class="col s3"><a class="btn-floating waves-effect waves-light white google" href="https://plus.google.com/u/0/117533989173689123445/posts" target="_blank"><span class="icon-google-plus"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>